.header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d6d6d6;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-nav {
    font-weight: 500;
    color: #292929;
    margin-right: 283px;
}

.header-nav ul {
    display: flex;
}

.header-nav li + li {
    padding-left: 70px;
    
}
/* .header-nav li:last-child {
    padding-right: 0;
} 
*/
.header-nav a {
    transition: color 0.2s ease;
}

.header-login > * + * {
    margin-left: 35px;
}

.header-nav a:hover {
    color: #01996d;
}

.header-login a {
    color: #000;
}
.header-login a:hover {
    color: #01996d;
    transition: color 0.2s ease;
}

.btn, a.btn {
    color: #fff;
    align-items: center;
    padding: 13px 50px;
    font-size: 20px;
    font-weight: 400;
    background: #01996D;
    border-radius: 4px;
    transition: opacity .2s ease;
}
.btn:hover, a.btn:hover {
    opacity: 0.8;
    color:  #fff;
}

.btn-big, a.btn-big {
    padding: 20px 50px;
}